.ImageSlider {
    position: relative;
    overflow: hidden;
}
.imgOne {
    width: auto;
    height: 100%;
    display: block;
}
.imgTwo {
    width: auto;
    height:  100%;
    inset: 0;
}
.slider {
    position: absolute;
    top: 0;
    bottom: 0;
}
.sliderDiv {
    position: relative;
    height: 100vh;
}

.sliderLine {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--timetravel-orange);
    width: 3px;
    z-index: 3;
}
.sliderButton {
    height: 5rem;
    width:  5rem;
    margin-left: -2.5rem;
    position: absolute;
    top: 50%;
    z-index: 3;
    box-shadow: 0 0 1rem var(--timetravel-orange);
    transform: translateY(-50%);
    border-radius: 10px;
    background: url("../public/img/arrow-left.svg") left 10px center no-repeat, url("../public/img/arrow-right.svg") right 10px center no-repeat;
    background-color: var(--timetravel-orange);
}

.afterContainer {
    position: absolute;
    width: 100vw;
    height:  100vh;
    inset: 0;
    z-index: 1;
    color: var(--timetravel-orange);
}

.beforeContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 2;
    top: 2px;
    color: var(--timetravel-orange);
}

.afterDescription {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    border-radius: 10px;
    padding: 0.5rem;
    h2 {
        font-size: 3.5rem;
        font-family: "Tondu", sans-serif;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #fff;
    }
}

.beforeDescription {
    position:  absolute;
    left: 3rem;
    bottom: 3rem;
    border-radius: 10px;
    padding: 0.5rem;
    z-index: 2;
    h2 {
        font-size: 3.5rem;
        font-family: "Tondu", sans-serif;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #fff;
    }
}

.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 4;
    padding: 1.5rem;
    background: url("/public/img/close-button.svg") center no-repeat;
    background-color: var(--timetravel-blue);
}

.additionalInfo {
    color: #fff;
    position: absolute;
    bottom: 0;
    max-width: 400px;
    min-width: 350px;
    left: 50%;
    z-index: 4;
    background-color: var(--timetravel-blue);
    padding: 1rem;
    border-radius: 10px 10px 0px 0px;
    height: auto;
    h2 {
        text-align: center;
        margin-top: 2rem;
        font-size: 2rem;
    }
}

.collapsed {
    transform: translate(-50%, 70%);
}

.expanded {
    transform: translate(-50%, 30%);
}

.slideContent {
    background-color: transparent;
    border: none;
    padding: 2rem;
    position: absolute;
    top: .5rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;

}

.slideContent:focus,
.slideContent:focus-visible {
    outline: none;
}

/* Up arrow */
.expandButton {
    background-image: url('/public/img/downwards-toggle.svg');
}

/* Down arrow */
.collapseButton {
    background-image: url('/public/img/upwards-toggle.svg');
}
