.routeButtonContainer {
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.showRouteButton {
    padding: 1rem;
    padding-right: 3rem;
    font-size: 1.2rem;
    width: 300px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: url("/public/img/arrow-right.svg") center right 1rem no-repeat;
    background-color: var(--timetravel-blue);
}
