:root {
  font-family: "Viga", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --timetravel-orange: #CF4602;
  --timetravel-blue: #003399;
  color-scheme: light dark;
  color: #fff;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Tondu';
  src: url('/public/fonts/Tondu_Beta.ttf');
}

@font-face {
  font-family: 'Viga';
  src: url('/public/fonts/Viga-Regular.ttf');
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* Loading Screen */
div.loading-screen {
  width: 100vw;
  height: 100vh;
  background-color: var(--timetravel-blue);
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      text-align: center;
      font-family: 'Tondu', sans-serif;
    }
    img {
      text-align: center;
      margin-bottom: 10rem;
    }
    .loading-text {
      font-family: "Viga", sans-serif;
      font-size: 1.25rem;
    }
  }
}


/* Welcome Page*/
div.welcome-page {
  div.welcome-text {
    z-index: 4;
    h2 {
      margin-top: 0;
    }
    width: 80%;
    font-family: "Viga", sans-serif;
    background-color: var(--timetravel-blue);
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    div.welcome-logo-section {
      img {
        width: 48px;
        height:  48px;
        margin-left: 1rem;
      }
    }
  }
  .start-button {
    padding: 1.2rem 3rem 1.2rem 1rem;
    position: absolute;
    bottom: 8rem;
    left: 50%;
    z-index: 4;
    transform: translateX(-50%);
    background: url("../public/img/arrow-right.svg") no-repeat right 10px center;
    background-color: var(--timetravel-orange);
    font-family: "Viga", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: #fff;
    &:hover {
      box-shadow: 0 0 1rem var(--timetravel-orange);
    }
  }
}


/* Map styles*/
.map-container {
  height: 100vh;
  width: 100vw;
  .find-me-button {
    position: absolute;
    bottom: 2rem;
    right: 10px;
    width: 3rem;
    height:  3rem;
    z-index: 10000;
    border-radius: 10px;
    background: url("../public/img/locate-me.svg") no-repeat center center;
    background-size: 32px;
    background-color: var(--timetravel-orange);
  }
  .my-location {
    img {
      width: 32px;
      height: 32px;
    }
    .pin-label {
      font-size: 1.25rem;
      width: 8rem;
      margin-left: -2.8rem;
      font-family:  "Viga", sans-serif;
      color: var(--timetravel-blue);
      text-align: center;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--timetravel-orange);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .time-travel-button {
    position: absolute;
    bottom: 20rem;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
    background-color: var(--timetravel-blue);
    color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    z-index: 1000;
    cursor: pointer;
    background: url("/public/img/timetravel-logo-invert.svg") center right 1rem no-repeat;
    background-size: 3rem;
    background-color: var(--timetravel-blue);
  }

  .leaflet-touch .leaflet-bar {
    border: none;
    a:first-child,
    a:last-child {
      background-color: var(--timetravel-orange);
      width: 48px;
      height:  48px;
      line-height: 38px;
      span {
        color: #fff;
        font-size: 42px;
      }
    }
    a:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    a:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .leaflet-right .leaflet-routing-container.leaflet-routing-container-hide {
    background-color: var(--timetravel-orange);
    width: 48px;
    height: 48px;
    border-radius: 10px;
  }

  .leaflet-routing-alt, .leaflet-routing-geocoders, .leaflet-routing-error {
    background-color: var(--timetravel-orange);
    color: #fff;
    border-radius: 10px;
    tr:hover {
      background-color: #fff;
      color: #000;
    }
    span {
      color: #fff;
    }
  }

  .leaflet-routing-container-hide .leaflet-routing-collapse-btn {
    background: url("/public/img/navigation.svg")no-repeat center center;
    left: 10px;
    top:  10px;
  }
  .leaflet-routing-collapse-btn:after {
    content: " ";
    background: url("/public/img/close-button.svg")no-repeat center center;
    display: block;
    position: absolute;
    top: 15px;
    right: 5px;
    width: 24px;
    height: 24px;
  }

}

/*Time Travel*/
.time-travel {
  h1 {
    position: absolute;
    top: 3rem;
    left: 4rem;
    z-index: 4;
    color:  var(--timetravel-orange);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    font-family: "Tondu", sans-serif;
  }
 .logo {
   position: absolute;
   top: 15rem;
   left: 50%;
   z-index: 4;
   transform: translate(-50%, -50%);
 }
}
